{% extends 'navbar.html' %}

{% block title %}
Authentication
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'userauth/style.css' %}">

{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block content %}
<div class="w-100 h-100 bg-info">
    <div class="row blank"></div>

    <div class="row mx-auto w-40 bg-light justify-content-center p-5">

        {% if not user.is_authenticated %}

        <form class="w-100" action="/userauth/" method="POST">
            {% csrf_token %}
            <div class="row w-100">
                <h3>Log In Page</h3>
            </div>

            <div class="row my-form w-100">
                <label for="username">Username</label>
                <input class="form-control" type="text" name="username" placeholder="Enter your username" required>
            </div>
            <div class="row my-form w-100">
                <label for="password">Password</label> <br>
                <input class="form-control" type="password" name="password" placeholder="Enter your password" required>
            </div>

            {% for message in messages %}
            {{ message }}
            {% endfor %}

            <div class="row my-form w-100">
                    <p class="to-register">Don't have an account? Create one <a class="to-register-ref" href="register/">here</a></p>
                    <button type="submit" class="btn btn-primary w-100">Log In</button>
            </div>
        </form>

        {% else %}
        <h3>Welcome</h3>

        {% endif %}

    </div>
</div>
{% endblock content %}