{% extends 'navbar.html' %}

{% block title %}
Authentication
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'userauth/style.css' %}">

{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block content %}
<div class="w-100 h-100 bg-info">
    <div class="row blank"></div>

    <div class="row mx-auto w-40 bg-light justify-content-center p-5">

        <div class="row w-100">
            <h3>Register Page</h3>
        </div>

        <form method="POST" class="form-group">
            <table class="table table-borderless p-0">
                <tbody>
                    <tr>
                        <td class="p-0" colspan=2>
                            <label class="m-0" for="id_username">Username:</label>
                            <input class="form-control" type="text" name="username" maxlength="150" id="id_username" placeholder="Username">
                        </td>
                    </tr>
                    <tr style="height: 10px;"></tr>
                    <tr>
                        <td class="p-0">
                            <label class="m-0" for="id_first_name">First Name:</label>
                            <input class="form-control" type="text" name="first_name" maxlength="150" id="id_first_name" placeholder="First Name">
                        </td>
                        <td class="p-0">
                            <label class="m-0" for="id_last_name">Last Name:</label>
                            <input class="form-control" type="text" name="last_name" maxlength="150" id="id_last_name" placeholder="Last Name">
                        </td>
                    </tr>
                    <tr style="height: 10px;"></tr>
                    <tr>
                        <td class="p-0" colspan=2>
                            <label class="m-0" for="id_email">Email:</label>
                            <input class="form-control" type="email" name="email" maxlength="254" id="id_email" placeholder="Email">
                        </td>
                    </tr>
                    <tr style="height: 10px;"></tr>
                    <tr>
                        <td class="p-0">
                            <label class="m-0" for="id_password1">Password:</label>
                            <input class="form-control" type="password" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Password">
                        </td>
                        <td class="p-0">
                            <label class="m-0" for="id_password2">Confirm Password:</label>
                            <input class="form-control" type="password" name="password2" autocomplete="new-password" required id="id_password2" placeholder="Confirm Password">
                        </td>
                    </tr>
                    <tr style="height: 10px;"></tr>
                    <tr>
                        <td class="p-0" colspan=2>
                            {% for message in messages %}
                            {{ message }}
                            {% endfor %}
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>

    </div>
</div>
{% endblock content %}