{% extends 'template.html' %}

{% block title %}
Home ubah Data
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block body %}
<h2 style="text-align: center;">Covid-19</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4" style="margin-top: 2rem;">
            <div style="width: 475;">
            <p>COVID-19 adalah penyakit yang disebabkan oleh virus (SARS-CoV-2)</p>
            <p>COVID-19 dapat menyebabkan gangguan sistem pernapasan, mulai dari gejala yang 
            ringan seperti flu, hingga infeksi paru-paru, seperti pneumonia.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'home/Covid-19.jpg' %}" alt="Covid-19" style="height: 400px;width: 650px" srcset="">
        </div>
    </div>
    
    <div class="data">
        <form action="" method="Post">
            {% csrf_token %}
        
        <h2 style="text-align: center;">Jumlah Kasus Harian Covid</h2>
        <div class="row justify-content-center align-items-center" id="data">
            <div class="col-2" style="margin-top: 2rem;">
                <h3>ODP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_ODP}} <!-- form ODP -->
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>PDP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_PDP}} <!-- form PDP -->
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-2" style="margin-top: 2rem;">
                <h3>Sembuh</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_sembuh}} <!-- form sembuh -->
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>Kematian</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                {{form.data_kematian}} <!-- form kematian -->
            </div>
        </div>
            <div class="row justify-content-center align-items-center">
                <input class="btn btn-success" type="submit" value="Update Data" style="margin: 2px;width:200px">
        </form>
        </div>
    </div>
    


    <h2 style="text-align: center;">Masa Inkubasi Covid</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div style="width: 475;">
            <p>Seseorang yang terinfeksi virus, akan menunjukkan beberapa 
            gejala di bawah dan umumnya masa inkubasi COVID-19 diperkirakan 
            berkisar dari 1 hingga 14 hari, umumnya sekitar 5 hari</p>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'home/sytomps.jpg' %}" alt="Covid-19 Symptomps" style="height: 300px;width: 300px" srcset="">
        </div>
    </div>
    
    
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock body %}