{% extends 'template.html' %}

{% block title %}
Home
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <script>
    $(document).ready(function(){
    $("p").hover(function(){
        $(this).css("color", "blue");
        }, function(){
        $(this).css("color", "#0D98BA");
    });
    });
    
    </script>
    <script>
    console.log("tes");
    
    function addData(data) {
        console.log(data);
        var array_items = data.features;
        console.log(array_items);
        var data_positif = [];
        var data_meningkat = [];
        var data_sembuh = [];
        var labels = [];
        
        for(i=0;i<array_items.length-1;i++){
            labels.push(array_items[i].attributes.Provinsi);
            data_meningkat.push(array_items[i].attributes.Kasus_Meni);
            data_positif.push(array_items[i].attributes.Kasus_Posi);
            data_sembuh.push(array_items[i].attributes.Kasus_Semb);
        }
        var datasets =[
                    {
                    label: "Kasus Positif",
                    backgroundColor: "pink",
                    borderColor: "red",
                    borderWidth: 1,
                    data : data_positif
                    },
                    {
                    label: "Kasus Sembuh",
                    backgroundColor: "lightblue",
                    borderColor: "blue",
                    borderWidth: 1,
                    data: data_sembuh
                    },
                    {
                    label: "Kasus Meningkat",
                    backgroundColor: "lightgreen",
                    borderColor: "green",
                    borderWidth: 1,
                    data: data_meningkat
                    },
                ];
            console.log(labels);
            barChartData={
                labels,datasets
            };
            console.log(barChartData);
            var chartOptions = {
                responsive: true,
                legend: {
                    position: "top"
                },
                title: {
                    display: true,
                    text: "Data Covid-19 Hari ini Berdasarkan BNPB"
                },
                scales: {
                    yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                    }]
                }
            }
            console.log(barChartData);
            window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx, {
                type: "bar",
                data: barChartData,
                options: chartOptions
            });
            }; 
                
    }
    
    $.getJSON("https://services5.arcgis.com/VS6HdKS0VfIhv8Ct/arcgis/rest/services/COVID19_Indonesia_per_Provinsi/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json", addData);

    
    </script>
{% endblock head %}

{% block styling %}


{% endblock styling %}

{% block body %}
    
    <h2 style="text-align: center;">Covid-19</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4" style="margin-top: 2rem;">
            <div style="width: 475;">
            <p>COVID-19 adalah penyakit yang disebabkan oleh virus (SARS-CoV-2)</p>
            <p>COVID-19 dapat menyebabkan gangguan sistem pernapasan, mulai dari gejala yang 
            ringan seperti flu, hingga infeksi paru-paru, seperti pneumonia.</p>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'home/Covid-19.jpg' %}" alt="Covid-19" style="height: 400px;width: 600px" srcset="">
        </div>
    </div>
    {% if data %}
    {% for x in data %}
    <div class="data">
        <h2 style="text-align: center;">Jumlah Kasus Harian Covid</h2>
        <div class="row justify-content-center align-items-center" id="data">
            <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
                <h3>ODP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_ODP }}</h3> <!-- Data ODP -->
            </div>
            <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
                <h3>PDP</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_PDP }}</h3> <!-- Data PDP -->
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
                <h3>Sembuh</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_sembuh }}</h3> <!-- Data sembuh -->
            </div>
            <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
                <h3>Kematian</h3>
            </div>
            <div class="col-2" style="margin-top: 2rem;">
                <h3>{{ x.data_kematian }}</h3> <!-- Data kematian -->
            </div>
        </div>
            {% if user.is_authenticated %}
            <div class="row justify-content-center align-items-center">
                <a href="{% url 'home:indexubah' %}"><button type="button" class="btn btn-success" style="margin: 2px;width:200px">Update Data</button></a>
            </div>
            {% endif %}
        </div>

    {% endfor %}
    {% else %}
    <div class="data">
    <h2 style="text-align: center;">Jumlah Kasus Harian Covid</h2>
    <div class="row justify-content-center align-items-center" id="data">
        <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
            <h3>ODP</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>3000</h3> <!-- Data ODP -->
        </div>
        <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
            <h3>PDP</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>2000</h3> <!-- Data PDP -->
        </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-2" style="margin-top: 2rem;margin-left:5rem;">
            <h3>Sembuh</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>1000</h3> <!-- Data sembuh -->
        </div>
        <div class="col-2" style="margin-top: 2rem;margin-left: 5rem;">
            <h3>Kematian</h3>
        </div>
        <div class="col-2" style="margin-top: 2rem;">
            <h3>500</h3> <!-- Data kematian -->
        </div>
    </div>
        {% if user.is_authenticated %}
        <div class="row justify-content-center align-items-center">
            <a href="{% url 'home:indexubah' %}"><button type="button" class="btn btn-success" style="margin: 2px;width:200px">Update Data</button></a>
        </div>
        {% endif %}
        
    
    </div>
    {% endif %}

    
    
    

    <div id="container" style="width: 100%;background: #b5e0f4;">
        <canvas id="canvas"></canvas>
    </div>
    <h2 style="text-align: center;">Masa Inkubasi Covid</h2>
    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div style="width: 475;">
            <p>Seseorang yang terinfeksi virus, akan menunjukkan beberapa 
            gejala di bawah dan umumnya masa inkubasi COVID-19 diperkirakan 
            berkisar dari 1 hingga 14 hari, umumnya sekitar 5 hari</p>
            </div>
        </div>
        <div class="col-4">
            <img src="{% static 'home/sytomps.jpg' %}" alt="Covid-19 Symptomps" style="height: 500px;width: 350px;margin-left: 5rem;" srcset="">
        </div>
    </div>
    
    
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
{% endblock body %}