{% extends 'template.html' %}

{% block title %}
Add
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'faq/style.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$("#addform").ready(function(){
  $("#addform").submit(function(){
    alert("Konten telah ditambahkan");
  });
});

$("#addForm").submit(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        // make POST ajax call
        $.ajax({
            type: 'POST',
            data: serializedData,
            success: function (response) {
                // on successfull creating object
                // 1. clear the form.
                $("#friend-form").trigger('reset');
            }
        });
    });
</script>

{% endblock head %}

{% block body %}
    <div>
        <div class="row blank"></div>
        <div class="row justify-content-center">
            <h1 style="text-align: center;">Add Content</h1>
        </div>
    
        <div class="row justify-content-center">
            <div class="table-responsive-lg">
                <form action="" method="POST" enctype="multipart/form-data">
                <table class="table form" style="margin-right: 7vw;">
                    <tbody class="form">
                        <form id = "addForm">
                        {{ form.as_table }}
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                {% csrf_token %}
                                <input class="btn btn-info" type="submit" value="Add Content" style="padding-right: 50px; padding-left: 50px;">
                            </td>
                        </tr>
                    </form>
                    </tbody>
                </table>
                </form>
            </div>
        </div>
        
        <div class="row blank"></div>
    
    </div>

{% endblock body %}