{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
  $("#slidebutton1,#slidebutton2").click(function(){
    $("p").slideToggle();
  });
});
</script>


<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin: 10vh 10vw 10vh 10vw;">
    <div class="carousel-inner">
      {% for i in contents %}
      {% if forloop.first %}
      <div class="carousel-item active">
        <div class="d-flex align-items-center justify-content-center min-vh-30">
            <h2>{{i.judul}}</h2>
          </div>
          <div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
          <p>{{i.isi}} {{ field.contents|linebreaksbr }}</p>
          <div>
            <button id="slidebutton1">More</button>
          </div>
        </div>
      </div>  
      {% else %}
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center min-vh-30">
          <h2>{{i.judul}}</h2>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
        <p>{{i.isi}} {{ field.contents|linebreaksbr }}</p>
        <div>
          <button id="slidebutton2">More</button>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
  </div>