{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/moment.min.js"></script>

<script>
$("#del").ready(function(){
  $("form").submit(function(){
      alert("Konten telah dihapus");
  });
  $("#del").click( function(event) {
    
        if ($(event.target).hasClass('del btn-danger')) {
            $.ajax({
                type: "GET",
                success: function(response){
                    $("#del").html(response.update);
                }
            });
        }
    });
});

$(document).ready(function(){
  $("#slidebutton1,#slidebutton2").click(function(){
    $("p").slideToggle();
  });
});

var x = document.lastModified;
$('#date').append("Last Modified" + x);


</script>



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="margin: 10vh 10vw 10vh 10vw;">
  <div class="carousel-inner">
    <div class="d-flex flex-row">
    <div class="p-2">
      <button class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Add' %}'">Add</button>
    </div>
  </div>
      {% for i in contents %}
      {% if forloop.first %}
      <div class="carousel-item active">
        <div class="d-flex flex-row">
          
          <div class="p-2">
            <button  class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Edit' i.id %}'">Edit</button>
          </div>
          <div class="p-2">
            <form action="{% url 'faq:Delete' i.id %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type = "submit" value="Delete">
            </form>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center min-vh-30">
            <h2>{{i.judul}}</h2>
          </div>
          <div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
          <p>{{i.isi}} {{ field.contents|linebreaksbr }}</p>
          <div>
          <button id="slidebutton1">More</button>
        </div>
        </div>
      </div>
      {% else %}
      <div class="carousel-item">
        <div class="d-flex flex-row">
          <div class="p-2">
            <button  class="btn btn-success" type="button" onclick="window.location.href='{% url 'faq:Edit' i.id %}'">Edit</button>
          </div>
          <div class="p-2">
            <form id="del" action="{% url 'faq:Delete' i.id %}" method="POST">
              {% csrf_token %}
              <input class="btn btn-danger" type = "submit" value="Delete">
            </form>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-center min-vh-30">
          <h2>{{i.judul}}</h2>
        </div>
        <div class="d-flex align-items-center justify-content-center" style="min-height: 50vh;">
        <p>{{i.isi}} {{ field.contents|linebreaksbr }}</p>
        <div>
          <button id="slidebutton2">More</button>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    </div>
    </div>