<!DOCTYPE html>

{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<style>
.container {
    margin: 50px auto;
    color: #0D98BA;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h2 {
    margin: 20px 0px;
}
</style>

<body>
    <div class='container'>
        <h2>Tambah Rumah Sakit di Provinsi Anda</h2><hr>
        <form action = '' method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit' name='tambah' class="btn btn-success">Tambah</button>
        </form>
    </div>
</body>


</html>