{% extends 'template.html' %}

{% block title %}
Hoaxbuster
{% endblock title %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static 'hoaxbuster/style.css' %}">

{% endblock head %}

{% block styling %}
{% endblock styling %}

{% block body %}

<div class="container">
    <div class="row blank"></div>
    <div class="row justify-content-center">
        <h1 class="title">Hoax Buster</h1>
    </div>

    {% if info %}

    <div class="row justify-content-center">
        <table class="table table-hover info" style="width: 80%;">
            <thead>
                <tr>
                    <th scope="col" style="width: 150px;"></th>
                    <th scope="col" style="text-align: center;">Hoax</th>
                    <th scope="col" style="text-align: center;">Fakta</th>
                    
                    {% if user.is_authenticated %}
                    <th scope="col" style="width: 150px;"></th>
                    {% endif %}
                </tr>
            </thead>
            <tbody id="info">
    
            {{ info }}
    
            </tbody>
        </table>
    </div>

    {% endif %}

    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter" style="padding: 7px 50px 7px 50px;">
            Add Info
        </button>
    </div>
      
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="width: fit-content;">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form id="info-form" action="" method="POST" enctype="multipart/form-data">
                    <table class="table form">
                        <tbody>
                            {{ form.as_table }}
                            <tr>
                                <td colspan="2" style="text-align: center;">
                                    <p id="message" style="margin: 0; padding: 0;"></p>
                                    {% csrf_token %}
                                    <input class="btn btn-info" type="submit" value="Add Info" style="padding-right: 50px; padding-left: 50px;">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    
    <div class="row blank"></div>

    <div class="row justify-content-center w-75 center">
        <div class="col-3 form-group">
            <select class="form-control" id="language">
                <option value="en">English</option>
                <option value="id">Indonesia</option>
            </select>
        </div>

        <div class="col-9">
            <input id="keyword" class="form-control" placeholder="Enter Keyword">
        </div>

        <div class="w-100"></div>

        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" style="width: 20%;">Publisher</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody id="search-result"></tbody>
            </table>
        </div>
    </div>
    <div class="row blank"></div>
</div>

{% endblock body %}

{% block script %}
<script src="{% static 'hoaxbuster/script.js' %}"></script>
{% endblock script %}