{% for info in infos %}
<tr>
    <th scope="row">
        <img src="{{ info.image.url }}" style="width: 150px; height: 150px; border-radius: 50%;">
    </th>
    <td style="text-align: center;">{{ info.hoax }}</td>
    <td style="text-align: center;">{{ info.fakta }}</td>
    
    <td>
        <form action="/hoaxbuster/updateinfo/{{ info.id }}" method="GET" style="display: inline;">
            <input class="btn btn-success" type="submit" value="Update" style="width: 100%; margin: 2px;">
        </form>
        <br>
        <button class="btn btn-danger mybutton del-btn" value="{{ info.id }}">Delete</button>
    </td>
</tr>
{% endfor %}