{% for info in infos %}
<tr>
    <th scope="row">
        <img src="{{ info.image.url }}" style="width: 150px; height: 150px; border-radius: 50%;">
    </th>
    <td style="text-align: center;">{{ info.hoax }}</td>
    <td style="text-align: center;">{{ info.fakta }}</td>
</tr>
{% endfor %}