html, body {
    width: 100%;
    height: 100%;
}
.blank {
    height: 150px;
}
.my-form {
    margin-top: 10px;
    margin-bottom: 10px;
}
.w-40 {
    width: 40%;
}
.table {
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}