{% extends 'navbar.html' %}

{% block content %}
<div class="container-fluid px-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner bg-info" role="listbox">
            <div class="carousel-item active">
                <a href="{% url 'home:index' %}">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <img src="/static/img/home.png" class="slider-pic">
                        <div class="slider-info">
                            <h1 class="slider-title">Home Page</h1>
                            <h4 class="slider-text">Lihat informasi terkini tentang kasus COVID-19</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'faq:index' %}">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <div class="slider-info" style="text-align: right;">
                            <h1 class="slider-title">Frequently Asked Question</h1>
                            <h4 class="slider-text">Pertanyaan yang sering muncul seputar COVID-19</h4>
                        </div>
                        <img src="/static/img/faq.png" class="slider-pic">
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'hoaxbuster:index' %}">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <img src="/static/img/hoaxbuster.png" class="slider-pic">
                        <div class="slider-info">
                            <h1 class="slider-title">Hoax Buster</h1>
                            <h4 class="slider-text">Ketahui kebenaran dari hoax yang umum beredar di masyarakat</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="{% url 'penanganan:index' %}">
                    <div class="d-flex align-items-center justify-content-center min-vh-100">
                        <div class="slider-info" style="text-align: right;">
                            <h1 class="slider-title">Penanganan</h1>
                            <h4 class="slider-text">Informasi penanganan COVID-19 berdasarkan situasi dan kondisi</h4>
                        </div>
                        <img src="/static/img/penanganan.png" class="slider-pic">
                    </div>
                </a>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

{% block body %}
{% endblock body %}

<footer class="page-footer font-small bg-info">
    <div class="footer-text text-center py-3">
        Made by Kelompok A11
    </div>
</footer>

{% endblock content %}