.slider-info {
    width: 350px;
}
.slider-title {
    color: #1b3a43;
}
.slider-text {
    color: #244d59;
}
.slider-pic {
    width: 400px;
    height: 400px;
    margin-right: 30px;
}
.footer-text {
    font-size: 16px;
    text-align: center;
    color: white;
}
.my-nav {
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}
.my-title {
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}