h2 {
    color: rgb(0, 163, 238);
}

.faq {
    margin: 10vh 50vw 50vh 50vw ;
    size: ;
    background-color: green;
}

p {
    font-size: medium;
    color: rgb(0, 163, 238);
}

.container{
    color: rgb(0, 163, 238);
}



